<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.28.0.154505</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {756, 553}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2011-10-03 16:42:11 -0600</string>
	<key>Creator</key>
	<string>Phillip Windley</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>28DC1009-530D-4BF4-95AB-EA16369FB88C-783-00000AB171BAD32D</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.499414, 0.257426}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.49363, 0.318488}</string>
						<key>control2</key>
						<string>{-0.445009, 0.378693}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.353553, 0.425326}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.158291, 0.524891}</string>
						<key>control2</key>
						<string>{0.158291, 0.524891}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.353553, 0.425326}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.445009, 0.378693}</string>
						<key>control2</key>
						<string>{0.49363, 0.318488}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.499414, 0.257426}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.257426}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.5, 0.254347}</string>
						<key>control2</key>
						<string>{0.499988, 0.251273}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.499964, 0.248204}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.499963, 0.248172}</string>
						<key>control2</key>
						<string>{0.499963, 0.248141}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.499963, 0.24811}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.5, 0.24657}</string>
						<key>control2</key>
						<string>{0.500009, 0.24503}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.499991, 0.24349}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.499892, 0.241436}</string>
						<key>control2</key>
						<string>{0.499862, 0.239379}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.499827, 0.237324}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.492792, -0.171699}</string>
						<key>control2</key>
						<string>{0.271705, -0.5}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0, -0.5}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.271697, -0.5}</string>
						<key>control2</key>
						<string>{-0.492779, -0.171719}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.499826, 0.237287}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.499892, 0.239354}</string>
						<key>control2</key>
						<string>{-0.499966, 0.241422}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.499991, 0.24349}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.500009, 0.245035}</string>
						<key>control2</key>
						<string>{-0.5, 0.24658}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.499964, 0.248124}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.499963, 0.248156}</string>
						<key>control2</key>
						<string>{-0.499963, 0.248187}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.499964, 0.248218}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.499988, 0.251283}</string>
						<key>control2</key>
						<string>{-0.5, 0.254352}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.5, 0.257426}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.499414, 0.257426}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.499414, 0.257426}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>5CC5129D-7F10-4C2D-AE7F-23426B73D5AA-783-00000C6643CA40D5</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.467397, -0.499998}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.486969, -0.348061}</string>
						<key>control2</key>
						<string>{-0.498315, -0.184118}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.499826, -0.0129337}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.499892, -0.00889778}</string>
						<key>control2</key>
						<string>{-0.499966, -0.00485992}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.499991, -0.000822067}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.50001, 0.00219536}</string>
						<key>control2</key>
						<string>{-0.5, 0.00521088}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.499964, 0.00822639}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.499964, 0.00828934}</string>
						<key>control2</key>
						<string>{-0.499964, 0.00834846}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.499964, 0.0084095}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.499989, 0.0143948}</string>
						<key>control2</key>
						<string>{-0.5, 0.0203857}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.5, 0.0263882}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.499414, 0.0263882}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.49363, 0.145609}</string>
						<key>control2</key>
						<string>{-0.44501, 0.263155}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.353553, 0.354204}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.158292, 0.548599}</string>
						<key>control2</key>
						<string>{0.15829, 0.548599}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.353551, 0.354204}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.445008, 0.263155}</string>
						<key>control2</key>
						<string>{0.493629, 0.145609}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.499413, 0.0263882}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.499999, 0.0263882}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.499999, 0.0203762}</string>
						<key>control2</key>
						<string>{0.499987, 0.0143757}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.499962, 0.0083828}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.499962, 0.00831985}</string>
						<key>control2</key>
						<string>{0.499962, 0.00825882}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.499962, 0.00819969}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.499999, 0.0051918}</string>
						<key>control2</key>
						<string>{0.500008, 0.00218582}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.49999, -0.000822067}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.499891, -0.00483322}</string>
						<key>control2</key>
						<string>{0.499861, -0.00884819}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.499826, -0.0128593}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.498318, -0.184071}</string>
						<key>control2</key>
						<string>{0.486971, -0.34804}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.467396, -0.5}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.443067, -0.436264}</string>
						<key>control2</key>
						<string>{0.405118, -0.376505}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.353551, -0.325169}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.15829, -0.130772}</string>
						<key>control2</key>
						<string>{-0.158292, -0.130772}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.353553, -0.325169}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.405119, -0.376505}</string>
						<key>control2</key>
						<string>{-0.443068, -0.436264}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.467398, -0.499998}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.467397, -0.499998}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{305.057, 222}, {7, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>637</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 3}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{233.057, 131.934}, {157, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>636</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 &lt;esl&gt;?_domain=A&amp;_name=X}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{301.315, 145.934}, {7, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>635</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>634</integer>
				<key>Position</key>
				<real>0.47180485725402832</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 6}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>634</integer>
			<key>Points</key>
			<array>
				<string>{192, 152.875}</string>
				<string>{431.114, 153}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{218.667, 189.221}, {30, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>633</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 &lt;esl&gt;}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{340.667, 200.805}, {30, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>632</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 &lt;esl&gt;}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{379.137, 201.472}, {7, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>631</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>630</integer>
				<key>Position</key>
				<real>0.47180485725402832</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 2}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>630</integer>
			<key>Points</key>
			<array>
				<string>{348.667, 238.667}</string>
				<string>{420.667, 174.667}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{389.584, 211.804}, {7, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>629</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>628</integer>
				<key>Position</key>
				<real>0.47180485725402832</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 1}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>628</integer>
			<key>Points</key>
			<array>
				<string>{359.114, 249}</string>
				<string>{431.114, 185}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{209.53, 211.1}, {29, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>627</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>625</integer>
				<key>Position</key>
				<real>0.47180485725402832</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 4 &amp; 5}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>625</integer>
			<key>Points</key>
			<array>
				<string>{258, 247.667}</string>
				<string>{186, 185}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{436, 129.333}, {72, 46.3333}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>623</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.833702</string>
						<key>g</key>
						<string>0.710283</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 consumer}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{116.667, 129.333}, {72, 46.3333}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.754636</string>
						<key>r</key>
						<string>0.611304</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 generator}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{319.881, 326.445}, {27.16, 16.49}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>613</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs28 \cf0 user}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{340.628, 284.898}, {8.24705, 19.127}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>HFlip</key>
							<string>YES</string>
							<key>ID</key>
							<integer>615</integer>
							<key>Rotation</key>
							<real>340.0526123046875</real>
							<key>Shape</key>
							<string>28DC1009-530D-4BF4-95AB-EA16369FB88C-783-00000AB171BAD32D</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>FillType</key>
									<integer>3</integer>
									<key>GradientCenter</key>
									<string>{0, -0.266667}</string>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>0.862745</string>
										<key>g</key>
										<string>0.396078</string>
										<key>r</key>
										<string>0.454902</string>
									</dict>
									<key>MiddleFraction</key>
									<real>0.6904761791229248</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{313.682, 284.898}, {8.24705, 19.127}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>HFlip</key>
							<string>YES</string>
							<key>ID</key>
							<integer>616</integer>
							<key>Rotation</key>
							<real>19.947383880615234</real>
							<key>Shape</key>
							<string>28DC1009-530D-4BF4-95AB-EA16369FB88C-783-00000AB171BAD32D</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>FillType</key>
									<integer>3</integer>
									<key>GradientCenter</key>
									<string>{0, -0.266667}</string>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>0.862745</string>
										<key>g</key>
										<string>0.396078</string>
										<key>r</key>
										<string>0.454902</string>
									</dict>
									<key>MiddleFraction</key>
									<real>0.6904761791229248</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{314.643, 299.406}, {33.1412, 21.4784}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>617</integer>
							<key>Shape</key>
							<string>5CC5129D-7F10-4C2D-AE7F-23426B73D5AA-783-00000C6643CA40D5</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>FillType</key>
									<integer>3</integer>
									<key>GradientCenter</key>
									<string>{0, -0.266667}</string>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>0.862745</string>
										<key>g</key>
										<string>0.396078</string>
										<key>r</key>
										<string>0.454902</string>
									</dict>
									<key>MiddleFraction</key>
									<real>0.6904761791229248</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Bounds</key>
									<string>{{327.282, 286.343}, {7.86188, 15.4639}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FontInfo</key>
									<dict>
										<key>Font</key>
										<string>Helvetica</string>
										<key>Size</key>
										<real>14</real>
									</dict>
									<key>ID</key>
									<integer>619</integer>
									<key>Shape</key>
									<string>Bezier</string>
									<key>ShapeData</key>
									<dict>
										<key>UnitPoints</key>
										<array>
											<string>{0.00184059, -0.5}</string>
											<string>{0.00184059, -0.5}</string>
											<string>{-0.500004, 0.262007}</string>
											<string>{-0.5, 0.262007}</string>
											<string>{-0.500004, 0.262016}</string>
											<string>{0.00816727, 0.5}</string>
											<string>{0.00816727, 0.5}</string>
											<string>{0.00816727, 0.5}</string>
											<string>{0.452808, 0.28751}</string>
											<string>{0.452808, 0.28751}</string>
											<string>{0.452808, 0.28751}</string>
											<string>{0.5, 0.266037}</string>
											<string>{0.5, 0.266037}</string>
											<string>{0.5, 0.266037}</string>
											<string>{0.00184059, -0.5}</string>
										</array>
									</dict>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>FillType</key>
											<integer>2</integer>
											<key>GradientAngle</key>
											<real>90</real>
											<key>GradientColor</key>
											<dict>
												<key>b</key>
												<string>0.862745</string>
												<key>g</key>
												<string>0.396078</string>
												<key>r</key>
												<string>0.454902</string>
											</dict>
											<key>MiddleFraction</key>
											<real>0.96031743288040161</real>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
									<key>TextPlacement</key>
									<integer>0</integer>
									<key>Wrap</key>
									<string>NO</string>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{329.304, 282.152}, {3.91643, 4.1231}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FontInfo</key>
									<dict>
										<key>Font</key>
										<string>Helvetica</string>
										<key>Size</key>
										<real>14</real>
									</dict>
									<key>ID</key>
									<integer>620</integer>
									<key>Shape</key>
									<string>RoundRect</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>FillType</key>
											<integer>3</integer>
											<key>GradientColor</key>
											<dict>
												<key>b</key>
												<string>0.862745</string>
												<key>g</key>
												<string>0.396078</string>
												<key>r</key>
												<string>0.454902</string>
											</dict>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>618</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{318.16, 254.666}, {26.1073, 27.4851}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>621</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>FillType</key>
									<integer>3</integer>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>0.862745</string>
										<key>g</key>
										<string>0.396078</string>
										<key>r</key>
										<string>0.454902</string>
									</dict>
									<key>MiddleFraction</key>
									<real>0.72222220897674561</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{314.643, 278.949}, {33.1412, 41.9355}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>622</integer>
							<key>Shape</key>
							<string>28DC1009-530D-4BF4-95AB-EA16369FB88C-783-00000AB171BAD32D</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>FillType</key>
									<integer>3</integer>
									<key>GradientCenter</key>
									<string>{0, -0.266667}</string>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>0.862745</string>
										<key>g</key>
										<string>0.396078</string>
										<key>r</key>
										<string>0.454902</string>
									</dict>
									<key>MiddleFraction</key>
									<real>0.6904761791229248</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>614</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>612</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{272.557, 236}, {72, 72}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>78</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>ShowsGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.icns</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-10-03 16:59:46 -0600</string>
	<key>Modifier</key>
	<string>Phillip Windley</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>int</string>
			<string>1</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgRgDgWQChg==</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{765, 293}, {1330, 1077}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-20, -31}, {796.667, 615.333}}</string>
		<key>Zoom</key>
		<real>1.5</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1.5</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
